.page-header {
  @include centered(flex, center, center);
  background-color: $bg-color-main;
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;

  .page-header__nav {
    @include centered(flex, center, center);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}