$font-family-main: Roboto, sans-serif;
$font-family-second: Raleway, sans-serif;
$bg-color-main: #FFFFFF;
$bg-color-second:#2F303A;
$bg-our-team: #f5f4fa;
$main-color: #212121;
$second-color: #2196F3;
$silver-color:#757575;